.topBar {
  margin-top: 12px;
}

.conversations {
  max-height: 90vh;
  overflow:auto;
}

.messageContents {
  max-height: 90vh;
  overflow: auto;
}

.errorMessage {
  color: red;
}

.Blurb {
  background: #ffffff;
}

.Blurb:hover {
  background: #f5f5f5;
}

.Blurb p {
  color: gray;
}

.messageBox {
  border: 1px solid black;
  border-radius: 20px;
  word-wrap: break-word;
}

.messageBox h5 {
  font-size: 0.85em;
}

.messageBox h6 {
  font-size: 0.75em;
}

.messageBox hr {
  margin-top: 12px;
  margin-bottom: 6px;
}

.messageInput {
  margin-bottom: 16px;
}