{% extends "layout.html" %}

{% block content %}

{% set currentUser = session["email"] %}

<script src="{{url_for('static', filename='scripts/displayMessage.js')}}" type="text/javascript"></script>

<div class="container topBar">
  <div class="row">
    <div class="col-7">
      <h1>Inbox</h1>
    </div>
    <div class="col-2">
      <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".viewPrivateKey">Move to New Device</button>
    </div>
    <div class="col-1">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#composeModal">Compose</button>
    </div>
    <div class="col-1 ml-1">
        <a href="{{ url_for('logout') }}"><button type="submit" class="btn btn-danger">Logout</button></a>
    </div>
    <div class="col-1"></div>
  </div>
</div>

<div class="modal fade viewPrivateKey" id="viewPrivateKey" tabindex="-1" role="dialog" aria-labelledby="viewPrivateKeyLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="composeModalLabel">Place this in <b>/web/flaskapp/app/config/privateKey.json</b></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="word-wrap: break-word;">

        <p>&ldquo;{{ "{" }}{{session['email']}}&rdquo;:&ldquo;{{session['privateKey']}}{{ "}" }}&rdquo;</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="composeModal" tabindex="-1" role="dialog" aria-labelledby="composeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="composeModalLabel">Compose Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="{{ url_for('inbox') }}" enctype="multipart/form-data" method="POST">
          <input type="hidden" id="formType" name="formType" value="newMessage">
          <div class="container" style="text-align: center">
            <input type=email name="to" class="form-control mb-1" id="to" placeholder="Email of Recipient" required></input>
            <input name="message" class="form-control mb-1" id="message" placeholder="Message Contents" required></input>
            <button type="submit" class="btn btn-primary">Send</button>
          </div>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="container conversations">
        {% for (time, msgId) in conversations %}
          <div class="Blurb" onclick="DisplayMessage('{{msgId}}')">
            {% if currentUser == messages[msgId]["participants"][0] %}
              <h5>{{messages[msgId]["participants"][1]}}</h5>
            {% else %}
              <h5>{{messages[msgId]["participants"][0]}}</h5>
            {% endif %}
            <p>{{messages[msgId]["messages"][-1]["timestamp"].strftime('%m/%d/%Y, %I:%M %p') }}</p>
          </div>
          <hr>
        {% endfor %}
      </div>
    </div>

    <div class="col-8 messageContents">
      <h3 id="placeholder">Select a message to get started</h3>
      <p id="errorMessage" class="errorMessage">{{ errorMessage }}</p>
      {% for msgId, msgObj in messages.items() %}
        <div id={{msgId}} class="message" style="display: none;">
          <!-- Messages will be aligned left if from other user, right if from currentUser -->
          {% for msg in msgObj["messages"] %}
            {% if msg["sender"] != currentUser %}
              {% set leftBuffer = 1 %}
              {% set rightBuffer = 3 %}
              {% set alignment = "left" %}
              {% set backgroundColor = "#E6E5EA" %}
              {% set textColor = "black" %}
            {% else %}
              {% set leftBuffer = 3 %}
              {% set rightBuffer = 1 %}
              {% set alignment = "right" %}
              {% set backgroundColor = "#1086FC" %}
              {% set textColor = "white" %}
            {% endif %}
            <div class="row">
              <div class="col-{{leftBuffer}}"></div>
              <div class="col-8 messageBox" style="text-align: {{alignment}}; background-color: {{backgroundColor}}; color: {{textColor}}">
                <!-- message contents -->
                <p>{{msg["messageContents"]}}</p>
                <hr>
                <h5>{{msg["sender"]}}</h5>
                <h6>{{msg["timestamp"].strftime('%m/%d/%Y, %I:%M %p')}}</h6>
              </div>
              <div class="col-{{rightBuffer}}"></div>
            </div>
            <br>
          {% endfor %}

          <form class="messageInput" action="{{ url_for('inbox') }}" enctype="multipart/form-data" method="POST">
            <input type="hidden" id="formType" name="formType" value="reply">
            <input type="hidden" id="msgId" name="msgId" value="{{msgId}}">
            {% if currentUser == messages[msgId]["participants"][0] %}
              <input type="hidden" id="to" name="to" value="{{messages[msgId]['participants'][1]}}">
            {% else %}
              <input type="hidden" id="to" name="to" value="{{messages[msgId]['participants'][0]}}">
            {% endif %}
            <div class="container">
              <div class="row">
                <div class="col-10">
                  <input name="message" class="form-control" id="input_{{msgId}}" placeholder="Message" required></input>
                </div>
                <div class="col-1">
                  <button type="submit" class="btn btn-primary">Send</button>
                </div>
                <div class="col-1"></div>
              </div>
            </div>
          </form>

        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
